/* .footer {
  background-color: #b7f2fc;
  padding: 2rem;
  border-top: 1px solid #e0e0e0;
}

.footer-links {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.footer-links a {
  text-decoration: none;
  color: #444;
  font-weight: 500;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #28a745;
} */

body {
  background-color: #bce0ef;
  margin: 0;
  font-family: "Segoe UI", sans-serif;
}

.footer {
  color: rgb(10, 10, 10);
  padding: 40px 20px 20px;
  font-size: 16px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  flex: 1 1 220px;
}

.footer-section h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #100f0f;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 8px;
  color: #0f0e0e;
}

.brand .logo {
  width: 150px;
  margin-bottom: 10px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #333;
  margin-top: 30px;
  padding-top: 15px;
  flex-wrap: wrap;
  padding-left: 125px;
  padding-right: 140px;
}

.bottom-left a {
  color: #0e0d0d;
  margin: 0 10px;
  text-decoration: none;
}

.bottom-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.bottom-right img {
  width: 30px;
  height: 30px;
  background: rgb(255, 255, 255);
  padding: 5px;
  border-radius: 4px;
}

.bottom-right span {
  margin-right: 10px;
  font-weight: bold;
}

.footer a:hover {
  color: #2f2c2c;
}

.copyright {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
  color: #0d0d0d;
}
