.scroll-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.carousel-section {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.carousel-section .carousel,
.carousel-section .carousel-item,
.carousel-section .carousel-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.scroll-down-arrow {
  position: absolute;
  bottom: 20px;
  left: 50%;
  font-size: 2rem;
  color: white;
  animation: bounce 1.5s infinite;
  cursor: pointer;
  transform: translateX(-50%);
}

@keyframes bounce {
  0%,
  100% {
    transform: translateX(-50%) translateY(0);
  }
  50% {
    transform: translateX(-50%) translateY(-10px);
  }
}
